<!-- #region Rankings -->
<div class="container-fluid">
    <!-- #region Title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item"><a href="/rankings">Rankings</a></li>
                    </ol>
                </div>
                <h4 class="page-title">Rankings</h4>
            </div>
        </div>
    </div>
    <!-- #endregion Title -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Monthly Collection Chart</h4>
                    <div dir="ltr">
                        <div id="distributed-column" class="apex-charts" data-colors="#727cf5,#6c757d,#0acf97,#fa5c7c,#ffbc00,#39afd1,#e3eaef,#313a46"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion Rankings -->